body {
  background-color: #F8F4EE;
  color: #18171a;
  font-family: 'Inter', sans-serif;
  margin: auto;
  max-width: 960px;
}

h1, h2, h3 {
  font-family: 'Fredoka One', serif;
}

a {
  color: #8D2405;
}

a:hover {
  background-color: #4D1303;
  color: #F8F4EE;
}

header {
  text-align: center;
}

hr {
  color: #8D2405;
  height: 1px;
  margin: 30px;
}

footer {
  text-align: center;
  margin-bottom: 50px;
}

.logo img {
  height: 250px;
  width: 250px;
}

.lista_de_recetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.receta img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.lista_de_fuentes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.fuente img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}